* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  background-color: #f6f1e7;
}

.wrapper {
  max-width: 1280px;
  padding: 0 5%;
  margin: 0 auto;
}

.header {
  font-size: 2.5rem;
  margin: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.textarea {
  padding: 10px;
  border-radius: 5px;
  resize: none;
  width: 100%;
  margin: 10px 0 5px;
  font-size: 1.5rem;
}

.textarea:focus {
  outline: none;
}

.keyboard {
  display: none;
  max-width: 1200px;
  border: 5px solid grey;
  border-radius: 25px;
  background-color: #000;
  user-select: none;
  padding: 10px 15px;
  column-gap: 1%;
}

.keyboard__base-keys-container {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
}

.keyboard__additional-keys-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 0;
  width: 5%;
}

.keyboard__row {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.keyboard__key {
  font-size: 2rem;
  height: 4.5rem;
  width: 4.5%;
  margin: 1% 0;
  line-height: 4.5rem;
  text-align: center;
  background-color: rgb(48, 48, 48);
  color: aquamarine;
  border-radius: .3rem;
  outline: none;
  cursor: pointer;
}

.keyboard__additional-key {
  font-size: 2rem;
  width: 4.5%;
  /* margin: 1% 0; */
  line-height: 4.5rem;
  text-align: center;
  background-color: rgb(48, 48, 48);
  color: aquamarine;
  border-radius: .3rem;
  outline: none;
  cursor: pointer;
}

.keyboard__key-mid {
  width: 6.5%;

}

.keyboard__key-wide {
  width: 12%;
}

.keyboard__key-extra-wide {
  width: 14%;
}

.keyboard__key-space-wide {
  width: 37.5%
}

.keyboard__key-vertical {
  height: 70px;
  width: 100%;
  line-height: 3.5rem;
}

.keyboard__key-vertical > * {
  pointer-events: none;
}

.keyboard__key-vertical:nth-of-type(2),
.keyboard__key-vertical:last-of-type {
  display: flex;
  justify-content: center;
  align-items: center;
}

.clicked,
.pressed {
  background-color: rgb(171, 228, 209);
  color: #000;
  transform: scale(0.9);
}

.keyboard__key:hover {
  border: 1px solid aquamarine;
  line-height: 4.48rem;
}

.keyboard__key-vertical:hover {
  box-sizing: content-box;
  border: 1px solid aquamarine;
  margin: -1px;
}

.description {
  margin-bottom: 10px;
  border-radius: 5px;
  font-size: 2rem;
  width: 100%;
  margin: 10px auto 15px;
}

.btn-show-hide {
  min-width: 155px;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  font-size: 2rem;
  width: fit-content;
  background-color: #000;
  color: white;
  border: 1px solid aquamarine;
  color: rgb(171, 228, 209);
  text-align: center;
}

.btn-show-hide:hover {
  background-color: rgb(171, 228, 209);
  border: 1px solid #000;
  color:  #000;
  outline: none;
  transform: scale(1.03);
  transition: all .2s linear;
}

.btn-show-hide:focus {
  outline: none;
}

#show_hide {
  position: absolute;
  visibility: hidden;
}

#show_hide:checked ~ .keyboard {
  display: flex;
}

h2 {
  font-size: 2.5rem;
  margin-bottom: 5px;
}

li {
  font-size: 1.7rem;
  list-style-position: inside;
}

.microphone-icon,
.language-icon,
.sound-icon {
  height: 30px;
  width: 30px;
}

.icon_default-color {
  filter: invert(79%) sepia(90%) saturate(239%) hue-rotate(86deg) brightness(101%) contrast(102%);
}

.icon_clicked,
.icon_pressed {
  filter: invert(0%) sepia(0%) saturate(2%) hue-rotate(170deg) brightness(99%) contrast(100%);
}

@media screen and (max-width: 768px) {
  .keyboard__key {
    font-size: 1.5rem;
    height: 3rem;
    line-height: 3rem;
    margin: 1.5% 0;
  }

  .keyboard__key:hover {
    border: 1px solid aquamarine;
    line-height: 3rem;
  }

  .keyboard__key-vertical {
    height: 50px;
    line-height: 2.5rem;
  }

  .microphone-icon,
  .language-icon,
  .sound-icon {
    height: 20px;
    width: 20px;
  }
}

@media screen and (max-width: 900px) {
  .keyboard {
    column-gap: 0;
  }

  .keyboard__key {
    font-size: 1.7rem;
  }

  .keyboard__row {
    padding: 0 7px;
  }

  .keyboard__key,
  .keyboard__key-mid,
  .keyboard__key-wide,
  .keyboard__key-extra-wide,
  .keyboard__key-space-wide,
  .keyboard__key-vertical {
    min-width: min-content;
  }
}
